# Analyzing CIA Factbook Data Using SQL
## Overview
In this project, we'll work with data from the [CIA World Factbook](https://www.cia.gov/library/publications/the-world-factbook/), a compendium of statistics about all of the countries on Earth. The Factbook contains demographic information like:
- population - The population as of 2015.
- population_growth - The annual population growth rate, as a percentage.
area - The total land and water area.

The **_purpose_** of this project is to get used to SQL and know more about interesting facts of Earth.

We'll use the following code to connect our Jupyter Notebook to our database file:

In [3]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

'Connected: None@factbook.db'

Executing our query, we see the first few rows of our facts table look like:

In [4]:
%%sql
SELECT *
FROM facts
LIMIT 5

Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

Here are the descriptions for some of the columns:

- **name** - The name of the country.
- **area** - The country's total area (both land and water).
- **area_land** - The country's land area in square kilometers.
- **area_water** - The country's waterarea in square kilometers.
- **population** - The country's population.
- **population_growth** - The country's population growth as a percentage.
- **birth_rate** - The country's birth rate, or the number of births a year per 1,000 people.
- **death_rate** - The country's death rate, or the number of death a year per 1,000 people.

Let's first write a few simple query that returns the:

- Minimum population
- Maximum population
- Minimum population growth
- Maximum population growth

In [46]:
%%sql
/* Minimum population */
SELECT MIN(population)
FROM facts

Done.

[(0,)]

In [47]:
%%sql
/* Maximum population */
SELECT MAX(population)
FROM facts

Done.

[(7256490011,)]

In [49]:
%%sql
/* Minimum population growth */
SELECT MIN(population_growth)
FROM facts

Done.

[(0.0,)]

In [48]:
%%sql
/* Maximum population growth */
SELECT MAX(population_growth)
FROM facts

Done.

[(4.02,)]

Write a query that returns the countrie(s) with the minimum population.

In [9]:
%%sql
SELECT * 
FROM facts
WHERE population = (SELECT MIN(population) FROM facts)

Done.

[(250, 'ay', 'Antarctica', None, 280000, None, 0, None, None, None, None)]

Write a query that returns the countrie(s) with the maximum population.

In [10]:
%%sql
SELECT * 
FROM facts
WHERE population = (SELECT MAX(population) FROM facts)

Done.

[(261, 'xx', 'World', None, None, None, 7256490011, 1.08, 18.6, 7.8, None)]

It seems like the table contains a row for the whole world, which explains the population of over 7.2 billion. It also seems like the table contains a row for Antarctica, which explains the population of 0. This seems to match the CIA Factbook [page for Antarctica](https://www.cia.gov/library/publications/the-world-factbook/geos/ay.html):
!
Now that we know this, we should recalculate the summary statistics we calculated earlier, while excluding the row for the whole world.

Recompute the summary statistics I found earlier while excluding the row for the whole world. They were:

- Minimum population
- Maximum population
- Minimum population growth
- Maximum population growth

In a different code cell, calculate the average value for the following columns:

- `population`
- `area`

In [50]:
%%sql
/* Minimum population */
SELECT MIN(population), AVG(population), AVG(area)
FROM facts
WHERE name <> 'Antarctica'

Done.

[(48, 62352583.62655602, 555093.546184739)]

In [51]:
%%sql
/* Maximum population growth */
SELECT MAX(population), AVG(population), AVG(area)
FROM facts
WHERE name <> 'World'

Done.

[(1367485388, 32242666.56846473, 555093.546184739)]

In [52]:
%%sql
/* Minimum population growth */
SELECT MIN(population_growth), AVG(population), AVG(area)
FROM facts
WHERE name <> 'Antarctica'

Done.

[(0.0, 62352583.62655602, 555093.546184739)]

In [53]:
%%sql
/* Maximum population growth */
SELECT MAX(population_growth), AVG(population), AVG(area)
FROM facts
WHERE name <> 'World'

Done.

[(4.02, 32242666.56846473, 555093.546184739)]

To finish, we'll build on the query we earliern to find countries that are densely populated. We'll identify countries that have:

- Above average values for population.
- Below average values for area.

In [54]:
%%sql
/* above average values for population */
SELECT name
FROM facts
WHERE population > (
    SELECT AVG(population)
    FROM facts
)

Done.

[('Bangladesh',),
 ('Brazil',),
 ('China',),
 ('Congo, Democratic Republic of the',),
 ('Egypt',),
 ('Ethiopia',),
 ('France',),
 ('Germany',),
 ('India',),
 ('Indonesia',),
 ('Iran',),
 ('Japan',),
 ('Mexico',),
 ('Nigeria',),
 ('Pakistan',),
 ('Philippines',),
 ('Russia',),
 ('Thailand',),
 ('Turkey',),
 ('United Kingdom',),
 ('United States',),
 ('Vietnam',),
 ('European Union',),
 ('World',)]

In [39]:
%%sql
/* below average value for area */
SELECT name
FROM facts
WHERE area < (
    SELECT AVG(area)
    FROM facts
)

Done.

[('Albania',),
 ('Andorra',),
 ('Antigua and Barbuda',),
 ('Armenia',),
 ('Austria',),
 ('Azerbaijan',),
 ('Bahamas, The',),
 ('Bahrain',),
 ('Bangladesh',),
 ('Barbados',),
 ('Belarus',),
 ('Belgium',),
 ('Belize',),
 ('Benin',),
 ('Bhutan',),
 ('Bosnia and Herzegovina',),
 ('Brunei',),
 ('Bulgaria',),
 ('Burkina Faso',),
 ('Burundi',),
 ('Cambodia',),
 ('Cameroon',),
 ('Cabo Verde',),
 ('Comoros',),
 ('Congo, Republic of the',),
 ('Costa Rica',),
 ("Cote d'Ivoire",),
 ('Croatia',),
 ('Cuba',),
 ('Cyprus',),
 ('Czech Republic',),
 ('Denmark',),
 ('Djibouti',),
 ('Dominica',),
 ('Dominican Republic',),
 ('Ecuador',),
 ('El Salvador',),
 ('Equatorial Guinea',),
 ('Eritrea',),
 ('Estonia',),
 ('Fiji',),
 ('Finland',),
 ('Gabon',),
 ('Gambia, The',),
 ('Georgia',),
 ('Germany',),
 ('Ghana',),
 ('Greece',),
 ('Grenada',),
 ('Guatemala',),
 ('Guinea',),
 ('Guinea-Bissau',),
 ('Guyana',),
 ('Haiti',),
 ('Honduras',),
 ('Hungary',),
 ('Iceland',),
 ('Iraq',),
 ('Ireland',),
 ('Israel',),
 ('Italy',),
 ('Jamaica',),
 ('Japan',),
 ('Jordan',),
 ('Kiribati',),
 ('Korea, North',),
 ('Korea, South',),
 ('Kosovo',),
 ('Kuwait',),
 ('Kyrgyzstan',),
 ('Laos',),
 ('Latvia',),
 ('Lebanon',),
 ('Lesotho',),
 ('Liberia',),
 ('Liechtenstein',),
 ('Lithuania',),
 ('Luxembourg',),
 ('Macedonia',),
 ('Malawi',),
 ('Malaysia',),
 ('Maldives',),
 ('Malta',),
 ('Marshall Islands',),
 ('Mauritius',),
 ('Micronesia, Federated States of',),
 ('Moldova',),
 ('Monaco',),
 ('Montenegro',),
 ('Morocco',),
 ('Nauru',),
 ('Nepal',),
 ('Netherlands',),
 ('New Zealand',),
 ('Nicaragua',),
 ('Norway',),
 ('Oman',),
 ('Palau',),
 ('Panama',),
 ('Papua New Guinea',),
 ('Paraguay',),
 ('Philippines',),
 ('Poland',),
 ('Portugal',),
 ('Qatar',),
 ('Romania',),
 ('Rwanda',),
 ('Saint Kitts and Nevis',),
 ('Saint Lucia',),
 ('Saint Vincent and the Grenadines',),
 ('Samoa',),
 ('San Marino',),
 ('Sao Tome and Principe',),
 ('Senegal',),
 ('Serbia',),
 ('Seychelles',),
 ('Sierra Leone',),
 ('Singapore',),
 ('Slovakia',),
 ('Slovenia',),
 ('Solomon Islands',),
 ('Spain',),
 ('Sri Lanka',),
 ('Suriname',),
 ('Swaziland',),
 ('Sweden',),
 ('Switzerland',),
 ('Syria',),
 ('Tajikistan',),
 ('Thailand',),
 ('Timor-Leste',),
 ('Togo',),
 ('Tonga',),
 ('Trinidad and Tobago',),
 ('Tunisia',),
 ('Turkmenistan',),
 ('Tuvalu',),
 ('Uganda',),
 ('United Arab Emirates',),
 ('United Kingdom',),
 ('Uruguay',),
 ('Uzbekistan',),
 ('Vanuatu',),
 ('Holy See (Vatican City)',),
 ('Vietnam',),
 ('Yemen',),
 ('Zimbabwe',),
 ('Taiwan',),
 ('Ashmore and Cartier Islands',),
 ('Christmas Island',),
 ('Cocos (Keeling) Islands',),
 ('Coral Sea Islands',),
 ('Heard Island and McDonald Islands',),
 ('Norfolk Island',),
 ('Hong Kong',),
 ('Macau',),
 ('Faroe Islands',),
 ('Clipperton Island',),
 ('French Polynesia',),
 ('New Caledonia',),
 ('Saint Martin',),
 ('Saint Pierre and Miquelon',),
 ('Wallis and Futuna',),
 ('Aruba',),
 ('Curacao',),
 ('Sint Maarten',),
 ('Cook Islands',),
 ('Niue',),
 ('Tokelau',),
 ('Bouvet Island',),
 ('Jan Mayen',),
 ('Svalbard',),
 ('Akrotiri',),
 ('Anguilla',),
 ('Bermuda',),
 ('British Indian Ocean Territory',),
 ('British Virgin Islands',),
 ('Cayman Islands',),
 ('Dhekelia',),
 ('Falkland Islands (Islas Malvinas)',),
 ('Gibraltar',),
 ('Guernsey',),
 ('Jersey',),
 ('Isle of Man',),
 ('Montserrat',),
 ('Pitcairn Islands',),
 ('Saint Helena, Ascension, and Tristan da Cunha',),
 ('South Georgia and South Sandwich Islands',),
 ('Turks and Caicos Islands',),
 ('American Samoa',),
 ('Guam',),
 ('Navassa Island',),
 ('Northern Mariana Islands',),
 ('Puerto Rico',),
 ('Virgin Islands',),
 ('Wake Island',),
 ('Gaza Strip',),
 ('Paracel Islands',),
 ('Spratly Islands',),
 ('West Bank',),
 ('Western Sahara',)]

# More insights
To finish off, let's see some insights from the database

### Country that has the most people

In [42]:
%%sql
/* Country has the most people */
SELECT name
from facts
WHERE population = (
    SELECT MAX(population) 
    FROM facts
    WHERE name <> 'World'
);

Done.

[('China',)]

### Country that has the highest growth rate

In [44]:
%%sql
/* Country has the highest growth rate */
SELECT name
from facts
WHERE population_growth = (
    SELECT MAX(population_growth) 
    FROM facts
    WHERE name <> 'World'
);

Done.

[('South Sudan',)]

### Countries will add the most people to their population next year

In [56]:
%%sql
/* Countries will add the most people to their population next year */
SELECT name
from facts
WHERE birth_rate = (
    SELECT MAX(birth_rate) 
    FROM facts
    WHERE name <> 'World'
);

Done.

[('Niger',)]

### Countries have a higher death rate than birth rate

In [59]:
%%sql
/* Countries have a higher death rate than birth rate */
SELECT name
from facts
WHERE death_rate > birth_rate

Done.

[('Austria',),
 ('Belarus',),
 ('Bosnia and Herzegovina',),
 ('Bulgaria',),
 ('Croatia',),
 ('Czech Republic',),
 ('Estonia',),
 ('Germany',),
 ('Greece',),
 ('Hungary',),
 ('Italy',),
 ('Japan',),
 ('Latvia',),
 ('Lithuania',),
 ('Moldova',),
 ('Monaco',),
 ('Poland',),
 ('Portugal',),
 ('Romania',),
 ('Russia',),
 ('Serbia',),
 ('Slovenia',),
 ('Ukraine',),
 ('Saint Pierre and Miquelon',)]

### Countries have the highest population/area

In [60]:
%%sql
/* Countries have the highest population/area */
SELECT name
from facts
WHERE CAST(population AS FLOAT) / area = 
(
    SELECT MAX(CAST(population AS FLOAT) / area)
    FROMa
    facts
)

Done.

[('Macau',)]

We can easily see that **Macau** also belongs to the list of countries that have area below average value.

### Countries have the highest ratios of water to land

In [62]:
%%sql
/* Countries have the highest water/land */
SELECT name
from facts
WHERE CAST(area_water AS FLOAT) / area_land = 
(
    SELECT MAX(CAST(area_water AS FLOAT) / area_land)
    FROM
    facts
)

Done.

[('British Indian Ocean Territory',)]

### Countries have more water than land

In [63]:
%%sql
/* Countries have more water than land */
SELECT name
from facts
WHERE area_water > area_land

Done.

[('British Indian Ocean Territory',), ('Virgin Islands',)]